<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cw.diacloud.android"
    android:versionCode="1" android:versionName="1.0">

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/diacloudTitle" android:icon="@drawable/icon">
        <activity android:name=".Diacloud" android:label="@string/diacloudTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
